/*COLORS*/
/*FONT SIZES*/
/*FONTS*/
/* Document ========================================================================== */
/** 1. Correct the line height in all browsers. 2. Prevent adjustments of font size after orientation changes in iOS. */
html { line-height: 1.15; /* 1 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/* Sections ========================================================================== */
/** Remove the margin in all browsers. */
body { margin: 0; }

/** Render the `main` element consistently in IE. */
main { display: block; }

/** Correct the font size and margin on `h1` elements within `section` and `article` contexts in Chrome, Firefox, and Safari. */
h1 { font-size: 2em; margin: 0.67em 0; }

/* Grouping content ========================================================================== */
/** 1. Add the correct box sizing in Firefox. 2. Show the overflow in Edge and IE. */
hr { box-sizing: content-box; /* 1 */ height: 0; /* 1 */ overflow: visible; /* 2 */ }

/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
pre { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/* Text-level semantics ========================================================================== */
/** Remove the gray background on active links in IE 10. */
a { background-color: transparent; }

/** 1. Remove the bottom border in Chrome 57- 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] { border-bottom: none; /* 1 */ text-decoration: underline; /* 2 */ text-decoration: underline dotted; /* 2 */ }

/** Add the correct font weight in Chrome, Edge, and Safari. */
b, strong { font-weight: bolder; }

/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, samp { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/** Add the correct font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

/* Embedded content ========================================================================== */
/** Remove the border on images inside links in IE 10. */
img { border-style: none; }

/* Forms ========================================================================== */
/** 1. Change the font styles in all browsers. 2. Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea { font-family: inherit; /* 1 */ font-size: 100%; /* 1 */ line-height: 1.15; /* 1 */ margin: 0; /* 2 */ }

/** Show the overflow in IE. 1. Show the overflow in Edge. */
button, input { /* 1 */ overflow: visible; }

/** Remove the inheritance of text transform in Edge, Firefox, and IE. 1. Remove the inheritance of text transform in Firefox. */
button, select { /* 1 */ text-transform: none; }

/** Correct the inability to style clickable types in iOS and Safari. */
button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }

/** Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }

/** Restore the focus styles unset by the previous rule. */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }

/** Correct the padding in Firefox. */
fieldset { padding: 0.35em 0.75em 0.625em; }

/** 1. Correct the text wrapping in Edge and IE. 2. Correct the color inheritance from `fieldset` elements in IE. 3. Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers. */
legend { box-sizing: border-box; /* 1 */ color: inherit; /* 2 */ display: table; /* 1 */ max-width: 100%; /* 1 */ padding: 0; /* 3 */ white-space: normal; /* 1 */ }

/** Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress { vertical-align: baseline; }

/** Remove the default vertical scrollbar in IE 10+. */
textarea { overflow: auto; }

/** 1. Add the correct box sizing in IE 10. 2. Remove the padding in IE 10. */
[type="checkbox"], [type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Correct the odd appearance in Chrome and Safari. 2. Correct the outline style in Safari. */
[type="search"] { -webkit-appearance: textfield; /* 1 */ outline-offset: -2px; /* 2 */ }

/** Remove the inner padding in Chrome and Safari on macOS. */
[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** 1. Correct the inability to style clickable types in iOS and Safari. 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button { -webkit-appearance: button; /* 1 */ font: inherit; /* 2 */ }

/* Interactive ========================================================================== */
/* Add the correct display in Edge, IE 10+, and Firefox. */
details { display: block; }

/* Add the correct display in all browsers. */
summary { display: list-item; }

/* Misc ========================================================================== */
/** Add the correct display in IE 10+. */
template { display: none; }

/** Add the correct display in IE 10. */
[hidden] { display: none; }

* { box-sizing: border-box; margin: 0; padding: 0; }

html, body { height: 100%; }

body { font-family: 'Open Sans', sans-serif; background-color: #F5F5F2; }

/* HEADER */
header { position: fixed; display: -ms-flexbox; display: flex; -ms-flex-pack: end; justify-content: flex-end; z-index: 1; background-color: #fff; top: 0; bottom: 0; height: 61px; width: 100%; padding: 0; border-bottom: 1px solid #e3e3e3; }

header ul { display: -ms-flexbox; display: flex; -ms-flex-pack: end; justify-content: flex-end; list-style-type: none; }

header ul li { display: -ms-flexbox; display: flex; height: 61px; border-left: 1px solid #e3e3e3; }

header ul li a { display: -ms-inline-flexbox; display: inline-flex; -ms-flex-align: center; align-items: center; width: 100%; text-decoration: none; }

header ul li .wallet { padding: 30px; color: #9c9c9c; }

header ul li .wallet:hover { color: #F58220; }

header ul li .sum h2 { color: #9c9c9c; font-size: 20px; font-weight: 700; }

header ul li .arrow { padding: 30px; color: #9c9c9c; }

header ul li .arrow:hover { color: #F58220; }

header ul li .notification { padding: 30px; color: #9c9c9c; }

header ul li .notification:hover { color: #F58220; }

header ul li .login { padding: 30px; color: #9c9c9c; }

header ul li .login:hover { color: #F58220; }

header ul li .name { padding: 30px 30px 30px 0; color: #56819F; font-size: 15px; font-weight: 400; }

header ul li .name:hover { color: #adb3bc; }

header ul li .quit { color: #9c9c9c; padding: 30px; }

header ul li .quit:hover { color: #F58220; }

/* SIDEBAR */
.sidebar { position: fixed; width: 188px; height: 100%; z-index: 999; top: 0; left: 0; overflow: hidden; background-color: #333333; }

.title { line-height: 61px; color: #F5F5F2; background: #333333; padding-left: 18px; display: -ms-flexbox; display: flex; }

.title .logo { font-size: 24px; color: #F5F5F2; text-decoration: none; font-family: 'Caveat Brush', cursive; }

.title .toggler-sidebar { padding: 20px 20px 10px 45px; }

.hamburger-menu { width: 20px; height: 20px; position: relative; transform: rotate(0deg); transition: .5s ease-in-out; cursor: pointer; }

.hamburger-menu span { display: block; position: absolute; height: 3px; width: 100%; background: #F5F5F2; border-radius: 9px; opacity: 1; left: 0; transform: rotate(0deg); transition: .25s ease-in-out; }

.hamburger-menu span:nth-child(1) { top: 2.5px; }

.hamburger-menu span:nth-child(2) { top: 11px; }

.hamburger-menu span:nth-child(3) { top: 20px; }

.nav ul { margin: 0; }

.nav li a { position: relative; display: block; padding: 15px 15px 15px 18px; font-size: 16px; background: #333333; color: #e3e3e3; }

.nav li a:hover { background: #444; box-shadow: inset 5px 0 0 #F58220, inset 6px 0 0 #222; color: #F5F5F2; }

.nav li a i { padding-right: 15px; }

.contact { line-height: 80px; color: #e3e3e3; background: #333333; border-top: 1px solid #222; }

.contact h3 { font-size: 18px; padding-left: 18px; text-transform: uppercase; }

.contact .manager { display: -ms-flexbox; display: flex; display: -webkit-flex; position: relative; padding-left: 18px; }

.contact .manager .online { position: absolute; height: 11px; width: 11px; background: #04ae00; border-radius: 100%; margin-top: 15px; }

.contact .manager .manager-photo img { margin-top: 15px; border-radius: 100%; }

.contact .manager-name { font-size: 14px; }

/* GENERAL STATISTIC */
.col-1 { -ms-flex: 8.333%; flex: 8.333%; }

.col-2 { -ms-flex: 16.667%; flex: 16.667%; }

.col-3 { -ms-flex: 25%; flex: 25%; }

.col-4 { -ms-flex: 33.333%; flex: 33.333%; }

.col-5 { -ms-flex: 41.667%; flex: 41.667%; }

.col-6 { -ms-flex: 50%; flex: 50%; }

.col-7 { -ms-flex: 58.333%; flex: 58.333%; }

.col-8 { -ms-flex: 66.667%; flex: 66.667%; }

.col-9 { -ms-flex: 75%; flex: 75%; }

.col-10 { -ms-flex: 83.333%; flex: 83.333%; }

.col-11 { -ms-flex: 91.667%; flex: 91.667%; }

.col-12 { -ms-flex: 100%; flex: 100%; }

.main-container { width: 100%; max-width: 1300px; margin: 0 auto; margin-left: 188px; padding-top: 61px; height: auto; }

.container { width: 100%; height: auto; background-color: #fff; margin: 15px; }

.row .general-head { line-height: 47px; }

.row .general-head h3 { color: #979797; border-bottom: 1px solid #e3e3e3; font-size: 20px; text-transform: uppercase; padding: 17px; }

.row .inputs { display: -ms-inline-flexbox; display: inline-flex; border: 1px solid #e3e3e3; border-radius: 5px; padding: 10px 20px 10px 10px; max-width: 700px; }

.row .calendar { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; margin-left: 40px; padding: 20px; border-bottom: 1px solid #e3e3e3; }

.row .calendar .input-one input { border: 0; padding: 10px 10px 10px 10px; border-right: 1px solid #e3e3e3; }

.row .calendar .input-second input { border: 0; padding: 10px 10px 10px 10px; }

.row .calendar .fa-calendar-alt { display: -ms-inline-flexbox; display: inline-flex; color: #333333; padding: 10px; }

.row .calendar .fa-calendar-alt:hover { color: #F58220; cursor: pointer; }

.row .calendar button { height: 40px; width: 40px; background-color: #F58220; border: none; cursor: pointer; border-radius: 5px; margin: 10px; }

.row .calendar button:hover { background-color: #ffa200; }

.row .calendar button .fa-redo-alt { color: #333333; text-align: center; }

.row .statistic { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-wrap: wrap; flex-wrap: wrap; padding-top: 30px; max-width: 700px; margin: 0 auto; }

.row .statistic .stats { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; width: 300px; height: 40px; border-bottom: 1px solid #e3e3e3; margin-left: 40px; }

.row .statistic .stats .name { color: #a6a6a6; font-size: 16px; font-weight: 700; margin-top: 10px; }

.row .statistic .stats .number { color: black; font-weight: 100; font-size: 15px; margin-right: 30px; margin-top: 10px; }

.row .chart-head { display: -ms-flexbox; display: flex; -ms-flex-pack: start; justify-content: flex-start; -ms-flex-wrap: wrap; flex-wrap: wrap; padding-top: 70px; margin: 0 auto; max-width: 700px; }

.row .chart-head h2 { color: #a6a6a6; font-size: 16px; font-weight: 700; margin-left: 50px; }

.row .chart { display: -ms-flexbox; display: flex; -ms-flex-pack: start; justify-content: flex-start; padding-top: 70px; margin: 0 auto; max-width: 700px; }

.row .chart img { max-width: 100%; height: auto; width: auto; margin-left: 50px; }

.container_2 { width: 100%; height: auto; background-color: #fff; margin: 15px; }

.container_2 .links { position: relative; display: block; }

.container_2 .links .btn { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; padding: 25px; }

.container_2 .links .links-table { height: auto; width: 100%; max-width: 100%; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0 auto; }

.container_2 .links-head { line-height: 47px; }

.container_2 .links-head h3 { color: #979797; border-bottom: 1px solid #e3e3e3; font-size: 20px; text-transform: uppercase; padding: 17px; }

.container_2 .row { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; border-top: 1px solid #e3e3e3; margin: 0 auto; padding: 20px; height: 60px; width: 700px; }

.container_2 .row:hover { background-color: #e3e3e3; }

.container_2 .row a { text-decoration: none; color: #56819F; }

.container_2 .row a:hover { color: #F58220; }

.container_2 .row .title-links { display: -ms-flexbox; display: flex; -ms-flex-pack: left; justify-content: left; width: 300px; height: 60px; color: #808080; font-weight: 600; font-size: 16px; }

.container_2 .row .link { display: -ms-flexbox; display: flex; -ms-flex-pack: left; justify-content: left; width: 300px; height: 60px; margin-right: 15px; font-size: 14px; color: #56819F; }

.container_2 .row .link .icons { margin-right: 10px; width: 100px; color: #333333; }

.container_2 .row .link .icons:hover { color: #F58220; }

.container_2 .row .link .icons .fa-link { margin-right: 10px; }

.container_2 button[type='submit'] { text-align: center; font-size: 20px; color: #F5F5F2; background-color: #F58220; border: none; height: 40px; width: 130px; border-radius: 10px; }

.container_2 button[type='submit']:hover { background-color: #ffa200; cursor: pointer; }

@media (min-width: 768px) { /* For desktop: */
  .col-m-1 { width: 8.33%; }
  .col-m-2 { width: 16.66%; }
  .col-m-3 { width: 25%; }
  .col-m-4 { width: 33.33%; }
  .col-m-5 { width: 41.66%; }
  .col-m-6 { width: 50%; }
  .col-m-7 { width: 58.33%; }
  .col-m-8 { width: 66.66%; }
  .col-m-9 { width: 75%; }
  .col-m-10 { width: 83.33%; }
  .col-m-11 { width: 91.66%; }
  .col-m-12 { width: 100%; } }

@media (max-width: 767px) { /* For tablets: */
  .col-s-1 { width: 8.33%; }
  .col-s-2 { width: 16.66%; }
  .col-s-3 { width: 25%; }
  .col-s-4 { width: 33.33%; }
  .col-s-5 { width: 41.66%; }
  .col-s-6 { width: 50%; }
  .col-s-7 { width: 58.33%; }
  .col-s-8 { width: 66.66%; }
  .col-s-9 { width: 75%; }
  .col-s-10 { width: 83.33%; }
  .col-s-11 { width: 91.66%; }
  .col-s-12 { width: 100%; }
  header { display: none; }
  .sidebar { display: none; }
  .main-container { width: 100%; margin: 0 auto; padding: 0; height: auto; }
  .container { margin: 5px; padding: 0; }
  .row .general-head { line-height: 35px; }
  .row .general-head h3 { font-size: 16px; padding: 0; text-align: center; }
  .row .calendar { -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 5px; padding: 0; }
  .row .calendar .input-one input { border: 0; padding: 0; border-right: 1px solid #e3e3e3; }
  .row .calendar .input-second input { border: 0; padding: 0; }
  .row .calendar .fa-calendar-alt { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; padding: 0; }
  .row .calendar .fa-calendar-alt:hover { color: #F58220; cursor: pointer; }
  .row .calendar button { display: -ms-flexbox; display: flex; height: 30px; width: 30px; border-radius: 5px; margin: 5px; }
  .row .calendar button:hover { background-color: #ffa200; }
  .row .calendar button .fa-redo-alt { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; color: #333333; padding-left: 6px; }
  .row .chart-head { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-wrap: nowrap; flex-wrap: nowrap; padding-top: 40px; margin: 0 auto; width: 100%; }
  .row .chart { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; padding-top: 10px; margin: 0 auto; width: 100%; }
  .row .chart img { height: 100%; width: 100%; margin: 0; }
  .container_2 { width: 100%; height: auto; background-color: #fff; margin: 5px; }
  .container_2 .links { position: relative; display: block; }
  .container_2 .links .btn { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; padding: 25px; }
  .container_2 .links .links-table { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-wrap: nowrap; flex-wrap: nowrap; margin: 0 auto; }
  .container_2 .links-head { line-height: 30px; }
  .container_2 .links-head h3 { font-size: 16px; text-align: center; padding: 17px; }
  .container_2 .row { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; margin: 0; padding: 5px; height: auto; width: 100%; }
  .container_2 .row:hover { background-color: #e3e3e3; }
  .container_2 .row .title-links { display: -ms-flexbox; display: flex; -ms-flex-pack: left; justify-content: left; width: 100%; height: auto; color: #808080; font-weight: 400; font-size: 14px; padding-right: 10px; }
  .container_2 .row .link { display: -ms-flexbox; display: flex; -ms-flex-pack: left; justify-content: left; width: 100%; height: auto; font-size: 12px; color: #56819F; }
  .container_2 .row .link .icons { width: 100%; color: #333333; }
  .container_2 .row .link .icons:hover { color: #F58220; }
  .container_2 .row .link .icons .fa-link { padding: 5px; }
  .container_2 button[type='submit'] { font-size: 16px; height: 20px; width: 90px; border-radius: 5px; padding: 0; }
  .container_2 button[type='submit']:hover { background-color: #ffa200; cursor: pointer; } }
