* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}
    
    
html, body {
  height: 100%;
  
}
    
body {
  font-family: 'Open Sans', sans-serif;;
  background-color: $body-color;
  
}
    
/* HEADER */
  
header { 
  position: fixed; 
  display: flex; 
  justify-content: flex-end;
  z-index: 1; 
  background-color: $white-color; 
  top: 0; 
  bottom: 0; 
  height: 61px; 
  width: 100%; 
  padding: 0;
  border-bottom: $border;
  
    ul {
      display: flex; 
      justify-content: flex-end; 
      list-style-type: none;
  
        li {
          display: flex; 
          height: 61px; 
          border-left: $border;
  
            a { 
              display: inline-flex;
              align-items: center;
              width: 100%; 
              text-decoration: none;
  
            }
            .wallet { 
              padding: 30px; 
              color: $header-color;
              &:hover { 
                color: $orange-color;
  
              }
            }
            .sum h2 { 
              color: $header-color; 
              font-size: 20px; 
              font-weight: 700;
  
            }
            .arrow { 
              padding: 30px; 
              color: $header-color;
              &:hover {
                color: $orange-color;
  
              }
            }
            .notification {  
              padding: 30px; 
              color: $header-color;
              &:hover {
                color: $orange-color;
  
              }
            }
            .login {  
              padding: 30px;  
              color: $header-color;
              &:hover {
                color: $orange-color;
  
              }
            }
            .name { 
              padding: 30px 30px 30px 0; 
              color: #56819F; 
              font-size: 15px; 
              font-weight: 400; 
              &:hover {
                color: #adb3bc;
  
              }
            }
            .quit { 
              color: $header-color; 
              padding: 30px;
              &:hover {
                color: $orange-color;
  
              }
            }
            
        }
        
    }
}
          
/* SIDEBAR */
    
.sidebar {
  position: fixed;
  width: 188px;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: $black-color;
      
}
    
.title {
  line-height: 61px;
  color: $body-color;
  background: $black-color;
  padding-left: 18px;
  display: flex;
  
    .logo {
      font-size: 24px;
      color: $body-color;
      text-decoration: none;
      font-family: 'Caveat Brush', cursive;
  
    }
    .toggler-sidebar {
      padding: 20px 20px 10px 45px;
  
    }
}
    
.hamburger-menu {
  width: 20px;
  height: 20px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  
    span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: $body-color;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
      &:nth-child(1) {
        top: 2.5px;
  
      }
      &:nth-child(2) {
        top: 11px;
  
      }
      &:nth-child(3) {
        top: 20px;
  
      }
    }
}
  
.nav ul {
  margin: 0;
    
}
    
.nav li a {
  position: relative;
  display: block;
  padding: 15px 15px 15px 18px;
  font-size: 16px;
  background: $black-color;
  color: $light-grey-color;
  &:hover {
    background: $black-hover-color;
    box-shadow: inset 5px 0 0 $orange-color, inset 6px 0 0 #222;
    color: $body-color;
  
  }
    i {
      padding-right: 15px;
  
    }
}
    
    
.contact {
  line-height: 80px;
  color: $light-grey-color;
  background: $black-color;
  border-top: 1px solid #222;
  
    h3 {
      font-size: 18px;
      padding-left: 18px;
      text-transform: uppercase;
  
    }
    .manager {
      display: flex;
      display: -webkit-flex;
      position: relative;
      padding-left: 18px;
  
        .online {
          position: absolute;
          height: 11px;
          width: 11px;
          background: #04ae00;
          border-radius: 100%;
          margin-top: 15px;
  
        }
        .manager-photo img {
          margin-top: 15px;
          border-radius: 100%;
  
        }
    }
    .manager-name {
      font-size: 14px;
  
    }
}
  
  /* GENERAL STATISTIC */
  
.col-1 {flex: 8.333%;}
.col-2 {flex: 16.667%;}
.col-3 {flex: 25%;}
.col-4 {flex: 33.333%;}
.col-5 {flex: 41.667%;}
.col-6 {flex: 50%;}
.col-7 {flex: 58.333%;}
.col-8 {flex: 66.667%;}
.col-9 {flex: 75%;}
.col-10 {flex: 83.333%;}
.col-11 {flex: 91.667%;}
.col-12 {flex: 100%;}
  
.main-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  margin-left: 188px;
  padding-top: 61px;
  height: auto;

}

  .container {
    width: 100%;
    height: auto; 
    background-color:  #fff;
    margin: 15px;
    
  }
    .row {

      .general-head {
        line-height: 47px;

        h3 {
          color: #979797;
          border-bottom: 1px solid #e3e3e3;
          font-size: 20px;
          text-transform: uppercase;
          padding: 17px;

        }
      }
      .inputs {
        display: inline-flex;
        border: 1px solid #e3e3e3;
        border-radius: 5px;
        padding: 10px 20px 10px 10px;
        max-width: 700px;

      }
      .calendar {
        display: flex;
        justify-content: center;
        margin-left: 40px;
        padding: 20px;
        border-bottom: 1px solid #e3e3e3;
    

        .input-one input { 
          border: 0;
          padding: 10px 10px 10px 10px; 
          border-right: 1px solid #e3e3e3;

        }
        .input-second input { 
          border: 0;
          padding: 10px 10px 10px 10px;

        }
        .fa-calendar-alt { 
          display: inline-flex;
          color: #333333; 
          padding: 10px;

          &:hover {
            color: #F58220; 
            cursor: pointer;

          }
        }
      button { 
        height: 40px;
        width: 40px;
        background-color: #F58220;   
        border: none; 
        cursor: pointer;
        border-radius: 5px; 
        margin: 10px;

        &:hover {
          background-color: #ffa200;

        }
        .fa-redo-alt { 
          color: #333333;  
          text-align: center;

        }
      }
    } 
    .statistic {                                 
      display: flex; 
      justify-content: center; 
      flex-wrap: wrap; 
      padding-top: 30px; 
      max-width: 700px;
      margin: 0 auto;

      .stats {
        display: flex;
        justify-content: space-between; 
        width: 300px; 
        height: 40px;
        border-bottom: 1px solid #e3e3e3; 
        margin-left: 40px;

        .name { 
          color: #a6a6a6; 
          font-size: 16px; 
          font-weight: 700; 
          margin-top: 10px;

        }
        .number { 
          color: black; 
          font-weight: 100; 
          font-size: 15px; 
          margin-right: 30px; 
          margin-top: 10px;

        }
      }
    }
      

    .chart-head {
          display: flex; 
          justify-content: flex-start; 
          flex-wrap: wrap; 
          padding-top: 70px;
          margin: 0 auto;
          max-width: 700px;

          h2 { 
            color: #a6a6a6; 
            font-size: 16px; 
            font-weight: 700;
            margin-left: 50px;

          }
        }
        .chart {
          display: flex;
          justify-content: flex-start;  
          padding-top: 70px;
          margin: 0 auto;
          max-width: 700px;

          img  {
            max-width: 100%;
            height: auto;
            width: auto;
            margin-left: 50px;

          }
        }
  }

  .container_2 {
    width: 100%;
    height: auto; 
    background-color:  #fff;
    margin: 15px;

    .links {
      position: relative;
      display: block;

      .btn {
        display: flex;
        justify-content: center;
        padding: 25px;

      }
      .links-table {
        height: auto;
        width: 100%;
        max-width: 100%;
        display: flex; 
        justify-content: center; 
        flex-wrap: wrap; 
        margin: 0 auto;

      }
    }
    .links-head {
      line-height: 47px;

      h3 {
        color: #979797;
        border-bottom: 1px solid #e3e3e3;
        font-size: 20px;
        text-transform: uppercase;
        padding: 17px;

      }
    }
    .row {
      display: flex;
      justify-content: center;
      border-top: 1px solid #e3e3e3;
      margin: 0 auto;
      padding: 20px;
      height: 60px;
      width: 700px;

      &:hover {
        background-color: #e3e3e3;

      }
      a {
        text-decoration: none;
        color: #56819F;

        &:hover {
          color: #F58220;

        }
      }
      .title-links {
        display: flex;
        justify-content: left;
        width: 300px;
        height: 60px;
        color: #808080;
        font-weight: 600;
        font-size: 16px;

      }
      .link {
        display: flex;
        justify-content: left;
        width: 300px;
        height: 60px;
        margin-right: 15px;
        font-size: 14px;
        color: #56819F;

        .icons {
          margin-right: 10px;
          width: 100px;
          color: #333333;

          &:hover {
            color: #F58220;

          }
          .fa-link {
            margin-right: 10px;

          }
        }
      }
    }
  
    button[type='submit'] {
      text-align: center;
      font-size: 20px;
      color: #F5F5F2;
      background-color: #F58220;
      border: none;
      height: 40px;
      width: 130px;
      border-radius: 10px;
      
      &:hover {
        background-color: #ffa200; 
        cursor: pointer;

      }
  
    }
  
}

@media (min-width: 768px) {
  /* For desktop: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}

}


@media (max-width: 767px){
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

  header {
    display: none;
  }

  .sidebar {
   display: none;
        
  }
  .main-container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: auto;
  
  }

  .container {
    max-width: 100%;
    height: auto; 
    background-color:  #fff;
    margin: 5px;
    padding: 0;
    
  }
    .row {

      .general-head {
        line-height: 35px;

        h3 {
          color: #979797;
          border-bottom: 1px solid #e3e3e3;
          font-size: 16px;
          text-transform: uppercase;
          padding: 0;
          text-align: center;

        }
      }
      .calendar {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 5px;
        padding: 0;
        border-bottom: 1px solid #e3e3e3;
    

        .input-one input { 
          border: 0;
          padding: 0; 
          border-right: 1px solid #e3e3e3;
          

        }
        .input-second input { 
          border: 0;
          padding: 0;
          

        }
        .fa-calendar-alt { 
          display: flex;
          align-items: center;
          color: #333333; 
          padding: 0;

          &:hover {
            color: #F58220; 
            cursor: pointer;

          }
        }
      button { 
        display: flex;
        height: 30px;
        width: 30px;
        background-color: #F58220;   
        border: none; 
        cursor: pointer;
        border-radius: 5px; 
        margin: 5px;

        &:hover {
          background-color: #ffa200;

        }
        .fa-redo-alt { 
          display: flex;
          justify-content: center;
          color: #333333;  
          padding-left: 6px;

        }
      }
    }
    .chart-head {
      display: flex; 
      justify-content: center; 
      flex-wrap: nowrap; 
      padding-top: 70px;
      margin: 0 auto;
      max-width: 700px;

      h2 { 
        color: #a6a6a6; 
        font-size: 16px; 
        font-weight: 700;
        margin: 0;

      }
    }
    .chart {
      display: flex;
      justify-content: center;  
      padding-top: 70px;
      margin: 0 auto;
      max-width: 700px;

      img  {
        max-width: 100%;
        height: auto;
        width: auto;
        margin: 0;

      }
    }
  }
  
  .container_2 {
    width: 100%;
    height: auto; 
    background-color:  #fff;
    margin: 5px;

    .links {
      position: relative;
      display: block;
    

      .btn {
        display: flex;
        justify-content: center;
        padding: 25px;

      }
      .links-table {
        display: flex; 
        justify-content: center; 
        flex-wrap: nowrap; 
        margin: 0 auto;

      }
    }
    .links-head {
      line-height: 30px;

      h3 {
        color: #979797;
        border-bottom: 1px solid #e3e3e3;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        padding: 17px;

      }
    }
    .row {
      display: flex;
      align-items: center;
      border-top: 1px solid #e3e3e3;
      margin: 0;
      padding: 5px;
      height: auto;
      width: 100%;

      &:hover {
        background-color: #e3e3e3;

      }
      a {
        text-decoration: none;
        color: #56819F;

        &:hover {
          color: #F58220;

        }
      }
      .title-links {
        display: flex;
        justify-content: left;
        width: 100%;
        height: auto;
        color: #808080;
        font-weight: 400;
        font-size: 14px;
        padding-right: 10px;

      }
      .link {
        display: flex;
        justify-content: left;
        width: 100%;
        height: auto;
        font-size: 12px;
        color: #56819F;

        .icons {
          width: 100%;
          color: #333333;

          &:hover {
            color: #F58220;

          }
          .fa-link {
            padding: 5px;

          }
        }
      }
    }
  
    button[type='submit'] {
      text-align: center;
      font-size: 16px;
      color: #F5F5F2;
      background-color: #F58220;
      border: none;
      height: 20px;
      width: 90px;
      border-radius: 5px;
      padding: 0;
      
      &:hover {
        background-color: #ffa200; 
        cursor: pointer;

      }
  
    }
  
}

}
  
