.sidebar {
    position: fixed;
    width: 188px;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: $black-color;
        
  }
      
  .title {
    display: flex;
    line-height: 61px;
    color: $body-color;
    background: $black-color;
    padding-left: 18px;
    .logo {
        font-size: 24px;
        color: $body-color;
        text-decoration: none;
        font-family: 'Caveat Brush', cursive;
    
    }
    .toggler-sidebar {
      padding: 20px 20px 10px 45px;
    
    }
  }
      
  .hamburger-menu {
    width: 20px;
    height: 20px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    
      span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: $body-color;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        &:nth-child(1) {
          top: 2.5px;
    
        }
        &:nth-child(2) {
          top: 11px;
    
        }
        &:nth-child(3) {
          top: 20px;
    
        }
      }
  }
    
  .nav ul {
    margin: 0;
      
  }
      
  .nav li a {
    position: relative;
    display: block;
    padding: 15px 15px 15px 18px;
    font-size: 16px;
    background: $black-color;
    color: $light-grey-color;
    &:hover {
      background: $black-hover-color;
      box-shadow: inset 5px 0 0 $orange-color, inset 6px 0 0 #222;
      color: $body-color;
    
    }
      i {
        padding-right: 15px;
    
      }
  }
      
      
  .contact {
    line-height: 80px;
    color: $light-grey-color;
    background: $black-color;
    border-top: 1px solid #222;
    
      h3 {
        font-size: 18px;
        padding-left: 18px;
        text-transform: uppercase;
    
      }
      .manager {
        display: flex;
        position: relative;
        padding-left: 18px;
    
          .online {
            position: absolute;
            height: 11px;
            width: 11px;
            background: #04ae00;
            border-radius: 100%;
            margin-top: 15px;
    
          }
          .manager-photo img {
            margin-top: 15px;
            border-radius: 100%;
    
          }
      }
      .manager-name {
        font-size: 14px;
    
      }
  }